@import '~antd/dist/antd.css';

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
	background: transparent;
}

.ant-menu{
    background: #b2a685;
    }

.trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color 0.3s;
}

.trigger:hover {
    color: #3c3c3c;
}

.logo {
    height: 32px;
    background: #a4884d;
    margin: 16px;
}

h2 {
    color: #fff;
    font-size: 21px;
    padding-left: 12px;
}

.site-layout .site-layout-background {
    background: #fff;
}

.site-layout .site-layout-background input[type=text] {
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    height: 40px; 
    font-size: 20px;
    margin-left: center;
  }

  
.site-layout .site-layout-background button {
    border: none;
    font-size: 20px;
    margin-right: center;
    margin-top: 15px;
    position: absolute;
    right: 150px;
    width: 50px;
    height: 40px;
  }
